@font-face {
    font-family: BananaCountry;
    src: url(BananaCountry-BWm78.ttf);
}

#content.content-contact {
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    gap: 0px;
}

.title {
    font-family: BananaCountry;
    font-size: 3rem;
    height: 64px;
}

form{
    display: flex;
    flex-direction: column;
    align-self: start;
    gap: 24px;
}
.input-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-self: start;
}
label{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
input {
    width: 20vw;
}

textarea{
    resize: vertical;   
    width: 40vw;
    max-height: 400px;
    height: 250px;
}
.input{
    font-family: Arial, Helvetica, sans-serif;
    min-width: 300px;
}
.submit-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}
button{
    width: 164px;
    height: 64px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    background-color: #557C25;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 24px;
    justify-self: center;
}
span{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
}
@media(max-width: 400px){
    .input{
        min-width: 200px;
    }
}