@font-face {
    font-family: vtksBold;
    src: url(vtksBold&Cool.ttf);
}
body {
    min-height: 100vh;
    background-image: url(backgroundgator.png);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header{
    box-sizing: border-box;
    border: 2px solid #dcffe1;
    border-top: none;
    border-radius: 6px;
    background-color: #557C25;
    width: 85%;
    height: 64px;
    position: sticky;
    top: 0px;
    margin-bottom: 16px;
    display: flex;
   align-items: end;
   justify-content: space-evenly;
    overflow: hidden;
}
.nav-tab{
    width: 128px;
    height: 48px;
    font-size: 1.2rem;
    font-weight: bold;
    border-bottom: none;
    border-radius: 6px;
    background-color: #dcffe1;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 4px;
    cursor: pointer;
    
}
#content {
    height: 100vh;
    width: 85%;
    border-radius: 18px;
    background-color: #dcffe1;
    margin-bottom: 32px;
}
.footer{
    background-color: #648839;
    height: 64px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
a{
    text-decoration: none;
    color: black;
}