@font-face {
    font-family: BananaCountry;
    src: url(BananaCountry-BWm78.ttf);
}

.menu-title {
    font-family: BananaCountry;
    font-size: 3rem;
    height: 32px;
    margin: 24px 0px 16px;
}

.section-head {
    margin: 0;
    font-family: BananaCountry;
    font-size: 2rem;
    margin-left: 12.5%;
    margin-right: auto;
}

.side {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 12.5%;
    margin-right: auto;
}

.menu-item {
    width: 75%;
    height: 164px;
    display: grid;
    grid-template-columns: 164px 1fr;
    grid-template-rows: 1fr 2fr;
    border: 2px solid black;
    grid-template-areas: 'foodImg name'
        'foodImg description';
}

.menu-item>img {
    grid-area: foodImg;
}

.item-name {
    grid-area: name;
    font-family: BananaCountry;
    font-size: 1.5rem;
    margin-top: 16px;
}

.description {
    grid-area: description;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0px;
}

.description, .item-name {
    justify-self: start;
    margin-left: 16px;
}

@media(max-width: 750px) {
    .menu-item {
        width: 100%;
    }

    .item-name {
        font-size: 1rem;
    }

    .description {
        font-size: 0.7rem;
    }
}

@media(max-width: 400px) {
    .description {
        font-size: 0.5rem;
    }
}